<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}}Commerce site{% endblock %}</title>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>
<body>
    <div id="header" class="header">
        <div class="header__top row">
            <div class="navbar__top-left col-md-4">
                <a href="#">Kênh người bán</a>
                <a href="#" style="padding: 0 10px;">Tải ứng dụng</a>
                <div>
                    <span>Kết nối</span>
                    <a href="https://facebook.com" target="_blank" style="padding: 0 10px;">
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    </a>
                    <a href="https://instagram.com" target="_blank">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="navbar__top-right col-md-8">
                <a href="#">Đăng nhập</a>
                <a href="#" style="padding: 0 10px;">Đăng ký</a>
                <a href="#">Trợ giúp</a>
                <a href="#" style="padding: 0 10px;">Thông báo</a>
            </div>
        </div>
        <div class="header__bottom row">
            <div class="header__logo col-md-2">
                <a href="#">
                    <i class="fa fa-shopping-bag" aria-hidden="true" style="font-size: 50px;"></i>
                    <span style="font-size: 30px; padding: 0 10px;">Shopping</span>
                </a>
            </div>
            <div class="header__search col-md-8">
                <form style="width: 100%;">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                </form>
            </div>
            <div class="header__cart col-md-2">
                <a href="#">
                    <i class="fa fa-shopping-cart" aria-hidden="true" style="font-size: 50px;"></i>
                </a>
            </div>
        </div>
    </div>
</body>
</html>